{% extends 'base/base.html' %}

{% block title_block %}
    {{TITULO}}
{% endblock title_block %}

{% block content %}
    <main class="app-main"> <!--begin::App Content Header-->
        <div class="app-content-header"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">{{TITULO}}</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">{{TITULO}}</a></li>

                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content Header--> <!--begin::App Content-->
        <div class="app-content"> <!--begin::Container-->
            <!--begin::Container-->
            <div class="container">
                <h2>Bienvenido {{ usuario_autenticado }} a tu banco App Cash</h2>
                <p>Tu banco digital en el que podrás realizar las transacciones de dinero deseadas.</p>
            </div>
        <!--end::Container-->
        {% comment %} {{usuario.username}} {% endcomment %}
        </div> <!--end::App Content-->
    </main> <!--end::App Main-->
{% endblock content %}