{% extends 'base/base.html' %}

{% block title_block %}
    Editar motivo
{% endblock title_block %}

{% block content %}
    <main class="app-main">
        <div class="app-content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">{{ titulo }}</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'transacciones:listar_motivos' %}">{{ titulo }}</a></li>
                            <li class="breadcrumb-item active">{{ titulo }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="app-content d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-primary card-outline mb-4">
                    <div class="card-header">
                        <h4 class="card-title">{{ titulo }}</h4>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {% include 'includes/forms_errors.html' with form=formMotivo %}
                            {% include 'includes/forms.html' with form=formMotivo %}
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa-solid fa-save"></i> Guardar Cambios
                            </button>
                            <a href="{% url 'transacciones:listar_motivos' %}" class="btn btn-secondary">
                                <i class="fa-solid fa-xmark"></i> Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
